@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", Helvetica;
}

body {
  @apply bg-background;
}

.bg-gradient {
  background: linear-gradient(50deg, #000000, #383841);
}

.btn {
  @apply py-2 px-4 font-semibold rounded text-white inline-block;
}

.btn--primary {
  @apply bg-primary;
}

.btn--primary:hover {
  @apply bg-primary-hover text-white-hover;
}

.btn--primary:active {
  @apply bg-primary-pressed text-white-hover;
}

.btn--inverse {
  @apply border;
  border-width: 1px;
}

.btn--inverse:hover {
  @apply bg-white text-primary;
}

.btn--inverse:active {
  @apply text-primary;
  background-color: #e8e8e8;
}

.avatar {
  @apply border border-brand shadow;
  border-radius: 100%;
}
