/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
html {
  font-family: "Inter", Helvetica;
}

body {
  @apply bg-background;
}
/* purgecss end ignore */

.bg-gradient {
  background: linear-gradient(50deg, #000000, #383841);
}

.bg-gradient--apple-podcast {
  background: linear-gradient(#f251fe, #852cc2);
}

.bg-rss {
  background-color: #ffa500;
}

.btn {
  @apply py-2 px-4 font-semibold rounded text-white inline-block text-center;
}

.btn--primary {
  @apply bg-primary;
}

.btn--primary:hover {
  @apply bg-primary-hover text-white-hover;
}

.btn--primary:active {
  @apply bg-primary-pressed text-white-hover;
}

.btn--inverse {
  @apply border;
  border-width: 1px;
}

.btn--inverse:hover {
  @apply bg-white text-primary;
}

.btn--inverse:active {
  @apply text-primary;
  background-color: #e8e8e8;
}

.avatar {
  @apply border border-brand shadow;
  border-radius: 100%;
}

.link {
  margin-bottom: -3px;
}

.link::after {
  content: "";
  display: flex;
  width: 0;
  height: 3px;
}

.link:hover::after {
  @apply bg-primary;
  width: 100%;
  transition: width 0.3s;
}
