@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2"), url("../fonts/Inter-Regular.woff"),
    url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2"), url("../fonts/Inter-Bold.woff"),
    url("../fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter-ExtraBold.woff2") .
      url("../fonts/Inter-ExtraBold.woff"),
    url("../fonts/Inter-ExtraBold.ttf");
}
